pipeline/PNP_RAW_DATA_INJECTION.json
{
	"name": "PNP_RAW_DATA_INJECTION",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata ascential",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy_Ascential_to_Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_sink_staging",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Copy_Ascential_to_Staging",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@startOfDay(addDays(utcNow(), 0))",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@startOfDay(addDays(utcNow(), +1))",
								"type": "Expression"
							},
							"wildcardFolderPath": "PRICEANDPROMO",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Source_Ascential",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sink_staging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ForEach_takelastmodifiedDate",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata ascential",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata ascential').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "get last modified childitem",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_input_staging",
									"type": "DatasetReference",
									"parameters": {
										"sourceDSP": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Copy_brozen_stag_final",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "get last modified childitem",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_input_staging",
									"type": "DatasetReference",
									"parameters": {
										"sourceDSP": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_staging_to_final",
									"type": "DatasetReference",
									"parameters": {
										"finalDirDSP": {
											"value": "@concat( 'final/',\n        substring(activity('get last modified childitem').output.lastModified,0,4),'-',substring(activity('get last modified childitem').output.lastModified,5,2),'-',substring(activity('get last modified childitem').output.lastModified,8,2)\n\n)",
											"type": "Expression"
										},
										"finalFileDSP": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Web_Alert_Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy_Ascential_to_Staging",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Get Metadata ascential",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "ForEach_takelastmodifiedDate",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": " application/json"
					},
					"url": {
						"value": "https://prod-55.eastus.logic.azure.com:443/workflows/c79af346e29c4a6c8813563484cdb3ec/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=m7W9P6blQI2C6LlQrgnGUGvGT9-6JYamx0YOPYwGQSk",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('{\"subject\":\"FAILED - PNP Pipeline - ',utcNow(),'\",\"pipeline\":\"PNP_RAW_DATA_INJECTION\",\"status\":\"FAILED\",\"time\":\"',utcNow(),'\",\"runId\":\"',pipeline().RunId,'\",\"body\":\"Pipeline failed. Check ADF Monitor immediately.\"}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "brozen_to_silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach_takelastmodifiedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/abhi.git.201999@gmail.com/pnp/brozen to silver"
				},
				"linkedServiceName": {
					"referenceName": "LS_brozen_to_silver_dbn",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "PNP_injection"
		},
		"annotations": [],
		"lastPublishTime": "2026-06-03T13:21:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}