pnpasc/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pnpasc"
		},
		"LS_brozen_to_silver_dbn_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_brozen_to_silver_dbn'"
		},
		"LS_pnpbyedge_bronze_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_pnpbyedge_bronze'"
		},
		"LS_ascentail_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'LS_ascentail'"
		},
		"LS_brozen_to_silver_dbn_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0603-054526-nhn8s142"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PNP_RAW_DATA_INJECTION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata ascential",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Copy_Ascential_to_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_sink_staging",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Copy_Ascential_to_Staging",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@startOfDay(addDays(utcNow(), 0))",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@startOfDay(addDays(utcNow(), +1))",
										"type": "Expression"
									},
									"wildcardFolderPath": "PRICEANDPROMO",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Source_Ascential",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_sink_staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ForEach_takelastmodifiedDate",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata ascential",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata ascential').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "get last modified childitem",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_input_staging",
											"type": "DatasetReference",
											"parameters": {
												"sourceDSP": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "Copy_brozen_stag_final",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "get last modified childitem",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_input_staging",
											"type": "DatasetReference",
											"parameters": {
												"sourceDSP": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_staging_to_final",
											"type": "DatasetReference",
											"parameters": {
												"finalDirDSP": {
													"value": "@concat( 'final/',\n        substring(activity('get last modified childitem').output.lastModified,0,4),'-',substring(activity('get last modified childitem').output.lastModified,5,2),'-',substring(activity('get last modified childitem').output.lastModified,8,2)\n\n)",
													"type": "Expression"
												},
												"finalFileDSP": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Web_Alert_Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy_Ascential_to_Staging",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Get Metadata ascential",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "ForEach_takelastmodifiedDate",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "pnp_notebooks",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": " application/json"
							},
							"url": {
								"value": "https://prod-55.eastus.logic.azure.com:443/workflows/c79af346e29c4a6c8813563484cdb3ec/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=m7W9P6blQI2C6LlQrgnGUGvGT9-6JYamx0YOPYwGQSk",
								"type": "Expression"
							},
							"body": {
								"value": "@concat('{\"subject\":\"FAILED - PNP Pipeline - ',utcNow(),'\",\"pipeline\":\"PNP_RAW_DATA_INJECTION\",\"status\":\"FAILED\",\"time\":\"',utcNow(),'\",\"runId\":\"',pipeline().RunId,'\",\"body\":\"Pipeline failed. Check ADF Monitor immediately.\"}')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pnp_notebooks",
						"type": "DatabricksJob",
						"dependsOn": [
							{
								"activity": "ForEach_takelastmodifiedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"jobId": "975520899435985"
						},
						"linkedServiceName": {
							"referenceName": "LS_brozen_to_silver_dbn",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PNP_injection"
				},
				"annotations": [],
				"lastPublishTime": "2026-06-03T13:21:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_sink_staging')]",
				"[concat(variables('factoryId'), '/datasets/DS_Source_Ascential')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_brozen_to_silver_dbn')]",
				"[concat(variables('factoryId'), '/datasets/DS_input_staging')]",
				"[concat(variables('factoryId'), '/datasets/DS_staging_to_final')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Source_Ascential')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ascentail",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ascential to pnp"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "PRICEANDPROMO",
						"container": "scarpedata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ascentail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_input_staging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_pnpbyedge_bronze",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sourceDSP": {
						"type": "string"
					}
				},
				"folder": {
					"name": "staging to final"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().sourceDSP",
							"type": "Expression"
						},
						"folderPath": "staging",
						"container": "brozen"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_pnpbyedge_bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_sink_staging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_pnpbyedge_bronze",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ascential to pnp"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "staging",
						"container": "brozen"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_pnpbyedge_bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_staging_to_final')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_pnpbyedge_bronze",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"finalDirDSP": {
						"type": "string"
					},
					"finalFileDSP": {
						"type": "string"
					}
				},
				"folder": {
					"name": "staging to final"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().finalFileDSP",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().finalDirDSP",
							"type": "Expression"
						},
						"container": "brozen"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_pnpbyedge_bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ascentail')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('LS_ascentail_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_brozen_to_silver_dbn')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405604581409315.15.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_brozen_to_silver_dbn_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_brozen_to_silver_dbn_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_pnpbyedge_bronze')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_pnpbyedge_bronze_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pnp_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PNP_RAW_DATA_INJECTION",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-06-12T12:00:00",
						"timeZone": "India Standard Time",
						"schedule": {}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PNP_RAW_DATA_INJECTION')]"
			]
		}
	]
}